.input {
    display: block;
    width: 400px;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 0.25rem;
    border: 1px solid;
    border-color: inherit;
    background-color: #fff;
}

/* size */

.small {
    height: 2rem;
    font-size: 0.875rem;
}

.medium {
    height: 2.5rem;
    font-size: 1rem;
}

.large {
    height: 3rem;
    font-size: 1.25rem;
}

/* variant */

.aqua-input {
    border-bottom: 3px solid #ACB6E5;
}

.mandarine-input {
    border-bottom: 3px solid #f5af19;
}

.barbie-input {
    border-bottom: 3px solid #b91d73;
}

.amethyst-input {
    border-bottom: 3px solid #4A00E0;
}

.eucalyptus-input {
    border-bottom: 3px solid #45B649;
}

.bay-input {
    border-bottom: 3px solid #0ED2F7;
}

