.button {
    border-top: 5px solid rgb(245, 226, 242);
    border-bottom: 5px solid rgb(245, 226, 242);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
}

.sharp {
    border-top: 5px solid rgb(245, 226, 242);
    border-bottom: 5px solid rgb(245, 226, 242);
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.aqua {background-color: #74ebd5;}
.mandarine {background-color: #f12711;}
.barbie {background-color: #ff00cc;}
.amethyst {background-color: #500a7e}

.aqua-sharp {background-color: #74ebd5;}
