.avatar {
   width: 85px;
   height: 85px;
}

.aqua-avatar, .mandarine-avatar, .barbie-avatar, .amethyst-avatar, .eucalyptus-avatar, .bay-avatar {
    border-width: 5px;
    border-image-slice: 1;
}

.aqua-avatar {
    border-image-source: linear-gradient(to right, #ACB6E5, #74ebd5);
}

.mandarine-avatar {
    border-image-source: linear-gradient(to right, #f5af19, #f12711);  
}

.barbie-avatar {
    border-image-source: linear-gradient(to right, #b91d73, #f953c6);  
}

.amethyst-avatar {
    border-image-source: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.eucalyptus-avatar {
    border-image-source: linear-gradient(to right, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bay-avatar {
    border-image-source: linear-gradient(to right, #0ED2F7, #B2FEFA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* size */

.small {
    width: 65px;
    height: 65px;
    font-size: 1rem;
}

.medium {
    width: 85px;
    height: 85px;
    font-size: 4rem;
}

.large {
    width: 100px;
    height: 100px;
   
}